.slider {
    &__box {
        border-radius: 12px 12px 12px 12px;
        background-color: #F5F5FA;
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        &_img {
            border-radius: 12px 12px 0px 0px;
            width: 100%;
            padding-bottom: 30px;
        }
        &_text {
            font-size: 30px;
            font-weight: 700;
            line-height: normal;
            background: var(--gradient-red-text, linear-gradient(90deg, #F0145A 0.84%, #EF8080 99.96%));
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            text-align: left;
            margin-bottom: 30px;
            padding: 0 15px;
        }
        &_text-name {
            color: $grey-text;
            font-size: 16px;
            font-weight: 700;
            line-height: normal;
            max-width: 242px;
            margin-bottom: 6px;
            padding: 0 15px;
        }
        &_text-job {
            color: $grey-text;
            font-size: 14px;
            font-weight: 400;
            line-height: 22px;
            margin-bottom: 30px;
            padding: 0 15px;
        }
        &_text-link {
            display: block;
            padding: 0 15px;
        }
    }
    &__arrow {
        text-align: center;
        margin-top: 30px;
        margin-bottom: 60px;  
        &_prev {
            width: 16px;
            height: 16px;
            background-color: #cde6f8;
            border-radius: 50%;
            cursor: pointer;
            margin-right: 15px;
            transition-duration: 300ms;
            transition-property: background-color;
            &:hover {
                background-color: #24A3FF;
            }
        }
        &_next {
            width: 16px;
            height: 16px;
            background-color: #cde6f8;
            border-radius: 50%;
            cursor: pointer;
            transition-duration: 300ms;
            transition-property: background-color;
            &:hover {
                background-color: #24A3FF;
            }
        }
        &_middle{
            width: 16px;
            height: 16px;
            background-color: #cde6f8;
            border-radius: 50%;
            cursor: pointer;
            margin-right: 15px;
            transition-duration: 300ms;
            transition-property: background-color;
            &:hover {
                background-color: #24A3FF;
            }
        }
    }
    
}
@media (min-width: 768px) {}
@media (min-width: 992px) {
    .slider {
        &__box {
            flex-direction: row;
            &_img {
                border-radius: 12px 0px 0px 12px;
                width: 100%;
                padding-bottom: 0px;
            }
            &_text {
                max-width: 444px;
            }
        }
    }
}