$m-regular: #323264;
$m-alt: #46466e;
$m-soft: #686887;
$accent: rgba(240, 20, 90, 1);
$active-regular: rgba(36, 163, 255, 1);
$active-hover: rgba(0, 133, 255, 1);
$Active-active: rgba(0, 108, 207, 1);
$rey-bg: rgba(245, 245, 250, 1);
$grey-Bg-Alt: rgba(237, 237, 247, 1);
$grey-text: #b3b3ba;
$grey-separator: rgba(230, 230, 240, 1);
$gradient-regular: linear-gradient(
    129deg,
    #323264 0%,
    #323264 73.96%,
    #a54b5f 100%
);
$gradient-soft: linear-gradient(
    42deg,
    #323264 14.33%,
    #323264 51.39%,
    #7a425e 87.53%
);
$gradient-red: linear-gradient(323deg, #f0145a 6.7%, #693264 70.36%);
$gradient-supersoft: linear-gradient(
    229deg,
    #323264 11.93%,
    #323264 57.17%,
    #643e72 87.46%
);
$gradient-red-text: linear-gradient(90deg, #f0145a 0.84%, #ef8080 99.96%);
$bp-tablet: 768px;
$bp-desktop: 992px;
$focus-outline: 2px solid $accent;
